.about{
    display: grid;
    grid-template-areas: 
    'title title title title'
    'left1 left1 right1 right1';
}

.about .about-title {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 150px;
    float: right;
    margin: 0;
}

.about .title{
    grid-area: title;
    padding-right: 0px;
    max-width: 100vw;
    margin-bottom: 42px;
}

.about .left{
    grid-area: left1;
    min-width: 40vw;
    max-width: 40vw;
    min-height: 100vh;
    padding-left: 48px;
    position: relative;
}

.about .left h2{
    font-size: 48px;
    margin-bottom: 24px;
}

.about .right{
    grid-area: right1;
    min-width: 60vw;
    max-width: 60vw;
    padding-left: 96px;
    font-size: 20px;
    position: relative;
}

.about .center-v{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.about .devider{ 
    grid-area: devider;
    background-color: white;
    height: 5px;
    width: 60%;
    border-radius: 50px;
    position: relative;
    margin-top: 48px;
    margin-bottom: 48px;
}




