.projects{
    display: grid;
    grid-template-areas: 
    'title'
    'carousel';
}

.projects .title{
    grid-area: title;
    padding-right: 0px;
    max-width: 100vw;
    margin-bottom: 42px;
}

.projects .carouselP{
    grid-area: carousel;
    min-width: 100vw;
}


.projects .projects-title {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 200px;
    font-family: sans-serif;
}

.projects article h2 {
    margin: 0 0 18px 0;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

.projects figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.projects article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.projects .article-body {
    padding: 24px;
}

.projects article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
}

.projects article a:focus {
    outline: 1px dotted #28666e;
}

.projects article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

.projects #carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 6;
    --middle: 3;
    --position: 3;
    pointer-events: none;
}

.projects div.item {
    position: absolute;
    width: 30vw;
    height: 600px;
    background-color: #8b8b8b;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

.projects div.item:nth-of-type(1) {
    --offset: 1;
}
.projects div.item:nth-of-type(2) {
    --offset: 2;
}
.projects #carousel div.item:nth-of-type(3) {
    --offset: 3;
}
.projects div.item:nth-of-type(4) {
    --offset: 4;
}
.projects div.item:nth-of-type(5) {
    --offset: 5;
}
.projects div.item:nth-of-type(6) {
    --offset: 6;
}

