@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap");

:root {
    --background: #1c1c1c;
    --nav1: #74913b;
    --nav2: #e9ad6c;
    --nav3: #ffd0a7;
}

html {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
}

body {
    font-family: "Inconsolata", monospace !important;
    background-color: transparent !important;
    color: white !important;
    padding: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-weight: 400;
}

body::-webkit-scrollbar {
    display: none;
}

canvas {
    max-height: 100%;
}
