.skills {
    display: flex;
    align-items: center;
    min-height: 50dvh;
}

.skills i {
    font-size: 4em;
}

.skills h3 {
    margin-bottom: 8px;
}

@media only screen and (max-width: 992px) {
    .skills i {
        font-size: 2em;
    }
}

@media only screen and (max-width: 520px) {
    .skills i {
        font-size: 1em;
    }
}
