<section class="about">
    <div class="container">
        <div class="row" style="height: 200px"></div>
        <div class="row">
            <div class="col-lg-6 left">
                <h1 class="display-5">Hi, I'm Rodrigo</h1>

                <p>Full Stack Developer / Software Developer</p>
            </div>
            <div class="col-lg-6 right">
                <p>Versatile Problem Solver and Collaborative Enthusiast.</p>
                <p>Educational Excellence and Proactive Management.</p>
                <p>Technical Proficiency and Customer-Centric Approach.</p>
            </div>
        </div>
        <div class="row" style="height: 100px"></div>
    </div>
</section>
