<section class="skills">
    <div class="container">
        <div class="row" style="height: 100px"></div>
        <div class="row">
            <div class="text-center">
                <h1 class="display-1 projects-title">SKILLS</h1>
            </div>
        </div>
        <div class="row" style="height: 100px"></div>
        <div class="row text-center">
            <h3>PROGRAMMING LANGUAGES</h3>
        </div>
        <div class="row text-center row-cols-10">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <i class="devicon-javascript-plain"></i>
                <p>JAVASCRIPT</p>
            </div>
            <div class="col">
                <i class="devicon-python-plain"></i>
                <p>PYTHON</p>
            </div>
            <div class="col">
                <i class="devicon-java-plain"></i>
                <p>JAVA</p>
            </div>
            <div class="col">
                <i class="devicon-php-plain"></i>
                <p>PHP</p>
            </div>
            <div class="col">
                <i class="devicon-csharp-plain"></i>
                <p>C#</p>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row" style="height: 24px"></div>
        <div class="row">
            <div class="col-6 text-center">
                <h3>DATABASES</h3>
            </div>
            <div class="col-6 text-center">
                <h3>OPERATIONAL SYSTEMS</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-6">
                <div class="row row-cols-6">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                        <i class="devicon-mysql-plain"></i>
                        <p>MYSQL</p>
                    </div>
                    <div class="col">
                        <i class="devicon-mongodb-plain"></i>
                        <p>MONGODB</p>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="col-6">
                <div class="row row-cols-6">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                        <i class="devicon-windows8-plain"></i>
                        <p>WINDOWS</p>
                    </div>
                    <div class="col">
                        <i class="devicon-ubuntu-plain"></i>
                        <p>UBUNTU</p>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 24px"></div>
        <div class="row">
            <div class="row text-center">
                <h3>AND MUCH MORE...</h3>
            </div>
        </div>
        <div class="row text-center row-cols-12">
            <div class="col">
                <i class="devicon-git-plain"></i>
                <p>GIT</p>
            </div>
            <div class="col">
                <i class="devicon-nodejs-plain"></i>
                <p>NODE</p>
            </div>
            <div class="col">
                <i class="devicon-html5-plain"></i>
                <p>HTML</p>
            </div>
            <div class="col">
                <i class="devicon-css3-plain"></i>
                <p>CSS</p>
            </div>
            <div class="col">
                <i class="devicon-amazonwebservices-plain"></i>
                <p>AWS</p>
            </div>
            <div class="col">
                <i class="devicon-azure-plain"></i>
                <p>AZURE</p>
            </div>
            <div class="col">
                <i class="devicon-terraform-plain"></i>
                <p>TERRAFORM</p>
            </div>
            <div class="col">
                <i class="devicon-bootstrap-plain"></i>
                <p>BOOTSTRAP</p>
            </div>
        </div>
        <div class="row" style="height: 100px"></div>
    </div>
</section>
