.about {
    display: flex;
    align-items: center;
}

.about h1 {
    font-weight: 700;
}

.about .p-left {
    font-weight: 300;
    font-size: 20px;
}

.about .p-right {
    font-weight: 300;
    font-size: 20px;
}
