:root{
    --background: #1c1c1c;
    --nav1: #74913b;
    --nav2: #e9ad6c;
    --nav3: #ffd0a7;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-snap-type: y mandatory;
}

body{
    color: white;
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
    max-width: 100vw;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
